<div class="row">
  <div class="col-xs-12">
    <img
      [src]="profile.imageName"
      alt="{{ profile.petName}}"
      class="img-responsive"
      style="max-height: 200px"
    >
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ profile.petName }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown
    >
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
      >
        Manage Profile
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="#">Add Post</a>
          <a href="#">Edit Profile</a>
          <a href="#">Delete Profile</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Bio
  </div>
  <div class="col-xs-12">
    Posts
  </div>
</div>
