<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a
        routerLink="/"
        class="navbar-brand"
      >Suzie's Pals</a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/profiles">Profiles</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/community">Community</a>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a
            routerLink="/signin"
            style="cursor: pointer"
            *ngIf="!authService.isLoggedIn()"
          >Sign In</a>
        </li>
        <li>
          <a
            routerLink="/signup"
            style="cursor: pointer"
            *ngIf="!authService.isLoggedIn()"
          >Sign Up</a>
        </li>
        <li>
          <a
            *ngIf="authService.isLoggedIn()"
            href="javascript:void(0)"
            (click)="doLogout()"
          >Logout</a>
        </li>
        <li
          class="dropdown"
          appDropdown
        >
          <a
            style="cursor: pointer"
            class="dropdwon-toggle"
            role="button"
          >Manage
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a style="cursor: pointer">Link</a>
            </li>
            <li>
              <a style="cursor: pointer">Link</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
