<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a
        routerLink="/"
        class="navbar-brand"
      >Suzie's Pals</a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a
            *ngIf="!isAuthenticated"
            routerLink="/signin"
            style="cursor: pointer"
          >
            Sign In</a>
        </li>
        <li>
          <a
            *ngIf="!isAuthenticated"
            routerLink="/signup"
            style="cursor: pointer"
          >Sign Up</a>
        </li>
        <li>
          <a
            *ngIf="isAuthenticated"
            href="javascript:void(0)"
            (click)="doLogout()"
          >Logout</a>
        </li>
        <li
          *ngIf="isAuthenticated"
          class="dropdown"
          appDropdown
        >
          <a
            style="cursor: pointer"
            class="dropdwon-toggle"
            role="button"
          >Manage Account
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                style="cursor: pointer"
                routerLink="/edit-profile"
              >Edit Profile</a>
            </li>
            <li>
              <a
                style="cursor: pointer"
                routerLink="/pets"
              >Manage Pets</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
