<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="title">Post Title</label>
          <input
            type="text"
            id="title"
            class="form-control"
            #titleInput
          >
        </div>
        <div class="col-sm-12 form-group">
          <label for="message">Message</label>
          <textarea
            id="message"
            class="form-control"
            #messageInput
          ></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            style="margin-right: 1rem"
            (click)="onAddItem()"
          >Add</button>
          <button
            class="btn btn-danger"
            type="button"
            style="margin-right: 1rem"
          >Delete</button>
          <button
            class="btn btn-primary"
            type="button"
          >Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
